<% layout('layout') %>

<div class="row">
  <div class="col-md-6">
    <h2>Tutorial</h2>
    <div class="list-group">
      <a class="list-group-item" href="/tutorial/first">1. Hello</a>
      <a class="list-group-item" href="/tutorial/second">2. Binding</a>
      <a class="list-group-item" href="/tutorial/third">3. If</a>
      <a class="list-group-item" href="/tutorial/fourth">4. For</a>
      <a class="list-group-item" href="/tutorial/fifth">5. Click</a>
      <a class="list-group-item" href="/tutorial/sixth">6. Model</a>
      <a class="list-group-item" href="/tutorial/seventh">7. Component</a>
    </div>
  </div>

  <div class="col-md-6">
    <h2>vue-cli init</h2>
    <div class="list-group">
      <a class="list-group-item" href="/vue-cli-init/simple">Simple</a>
    </div>
  </div>
</div>

